$background: #1F1F28;
$background-dark: #16161D;

$text: #DCD7BA;
$text-darker: #C8C093;

$red: #E82424;
$red-light: #C34043;

$blue-light: #7FB4CA;
$blue: #72A7BC;
$blue-alt: #7E9CD8;
$blue-green: #2D4F67;

$green: #98BB6C;
$green-dark: #76946A;

$turquoise: #7AA89F;
$turquoise-dark: #6A9589;

$sand: #C0A36E;
$orange: #E6C384;

$purple-light: #938AA9;
$purple: #957FB8;

$grey: #727169;
